
.titulo{
    font-size: 1.8rem;
}
.fas {
    cursor:pointer;
    margin-left: 10px;
    font-size: 20px;
}
.separar{
    margin-left: 10px;
}
.fa-edit,.fa-trash{
    color: white!important;
    margin-left: 0px;
}
.fa-trash{
    margin-left: -1px!important;
}
.text-danger{
    text-align: start;
    margin-left: 7px;
}
.fa-check-circle{
    color: green;
}
.fa-times-circle{
    color: red;
}