<div class="container mt-5">
    <div class="row">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body text-center">
            <span class="titulo">LISTADO DE MENSAJES</span>
            <table class="table table-striped" *ngIf="listMensaje.length>0">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Mensaje</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let mensaje of listMensaje | paginate: { itemsPerPage: 10, currentPage: pageActual }">
                  <td>{{mensaje.nombre}}</td>
                  <td>{{mensaje.mensaje}}</td>
                  <td>{{mensaje.fecha}}</td>
                  <td>
                    <button type="button" class="btn btn-danger separar" (click)="deleteMensaje(mensaje._id)">
                      <i class="fas fa-trash text-danger"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
            <h5 style="text-align: start; margin-top: 10px;" *ngIf="listMensaje.length==0">No hay mensajes para mostrar</h5>
            <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
